.playItems {
  color: rgb(255, 255, 255);
  background-color: #0e0d0c;
  width: 80%;
  height: 100%;
  font-size: 1.3rem;
  padding-left: 2rem;
  padding-top: 70px;
  @media (max-width: 740px) {
    font-size: 1rem;
    background-color: #1a1a1a;
  }

  .text-item {
    color: white;
    margin-left: 1rem;
    line-height: 2.5rem;
  }
  .active {
    color: #c22703;
  }
}
