.container-playlist {
  background-color: #1a1a1a;
  height: 100%;


  .header-playlist {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .playlist-h1 {
      color: #1a1a1a;
      font-size: 2rem;
      margin-bottom: 3rem;
    }

    .button-create {
      font-family: "Montserrat", sans-serif;
      font-size: 1rem;
      color: #c8d1d6;
      text-decoration: none;
      background-color: #821d05;
      border-radius: 8px;
      margin-right: 1rem;
      margin-bottom: 1rem;
      width : 7.5rem;
    }
  }

  .playlist-table {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    text-align: center;

    th,
    td {
      border-bottom: none;
      padding: 0.5rem;
    }

    .container-action {
      display: flex;
      gap:1rem;
      justify-content: center;

      .button-playlist {
        font-family: "Montserrat", sans-serif;
        font-size: 0.8rem;
        color: #dce3e6;
        text-decoration: none;
        background-color: #124653;
        border-radius: 8px;
        margin-right: 1rem;
        padding: 0.2rem 01rem;
      }

      .dislike,
      .like,
      .star {
        font-size: 1.8rem;
        display: flex;
        a {
          color: rgb(249, 249, 249);
          background-color: transparent;
          text-decoration: none;
        }

        a:hover {
          color: #d76b45;
          background-color: transparent;
          text-decoration: underline;
        }
      }
      .dislike,
      .like {
        color: white;
        border: none;
        background-color: unset;
      }
    }
  }
}
