.playlist{
    margin: 0 auto;
    max-width: 1000px;
    width: 1000px;
    height: 175px;
    background-color: #49413a;
    color: #aae0ab;

    .playlist-container{
        margin: 0 auto;
        max-width: 1000px;

    }

    
    button {
        color:#320deb;
        

        
    }

    table{
        
    }
    
};

.playlist-h2 {
    color: #ffffff
}