@import '../../assets/mixins';

.info-user {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  .info-user__box {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    
      @include respond(tab-land){
          flex-direction: column;
          align-items: center;
      }
  }

  .profileImagePreview {
    height: 25rem;
    width: 25rem;
    border-radius: 60%;
  }
}


.form-foto {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  button {
    background-color: white;
    color: black;
    border: 2px solid #414441;
  }
  button:hover {
    box-shadow: 0 12px 16px 0 rgba(190, 46, 46, 0.24),
      0 17px 50px 0 rgba(136, 46, 46, 0.19);
  }
  .browse {
    color: whitesmoke;
    text-align: center;
    width: max-content;
    border: 1px solid white;
    padding: 0.5rem;
    border-radius: 0.5rem;
  }
  label {
    color: whitesmoke;
  }
  .logo-img {
    display: flex;
    align-items: center;
  }
  .pen {
    color: #af5f5f;
    flex-direction: column;
    justify-content: center;
  }
}
