.button-modal-close{
    background-color: #A0A5A6 !important;
    width: 150px;
    color: #D4CFCF;
    margin-left: 50px;
    border-radius: 50px !important;
    border: none !important;

}
.button-modal-subment{
    background-color: #E74519 !important;
    width: 150px;
    color: #D4CFCF;
    margin-left: 50px;
    border-radius: 50px !important;
    border: none !important;

}