.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 175px;
  background-color: #0e0d0c;
  color: #c22703;
 

  @media (min-width: 740px) {
    justify-content: space-between;
    flex-direction: row;
  }

  img {
    margin-left: 3rem;
  }
  #logo {
    margin-bottom: 0.33rem;
  }

  .main {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 2rem;

    .action-header:first-of-type {
      margin-left: 25px;
    }
    #profil-image {
      justify-content: space-around;
      margin-left: 20px;
      margin-right: 15px;

      font-size: 2rem;
    }
  }
}
@media (min-width: 740px) {
  .header {
  }
  .action-header {
    margin-top: 0.9rem;
  }
  #profile-image {
    padding-bottom: 20px;
  }
}
