.searchContainer {
  height: 100%;
  background-color: #1a1a1a;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  .col-md-12 {
    color: whitesmoke;
  }
  
  .searchSongResult {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    margin-top: 2rem;
  }
  p {
    margin: 0.5rem !important;
  }
  h1 {
    font-size: 1.5rem;
    margin-top: 1rem;
    color:  white;
    text-transform: capitalize;
  }

 
}

.search-input {
  background-color:  #D9D9D9;
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  padding : 0.5rem
}
.albumResult {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40px;
  width: 100%;
  background-color: whitesmoke;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr auto 1fr;

  .albumResult__link {
    text-align: right;
  }

  .album-text {
    margin-left: 2rem;
  }
  .star {
    font-size: 2rem;
    margin-right: 50px;
    color: #1a1a1a;
  }
  button {
    border-radius: 8px;
    margin-right: 1rem;
    width: 7rem;
    background-color: #35626f;
    color: white;
  }
}
p {
  color: black;
}

.search__play {
  margin-right: 50px;
  font-size: 1.5rem;
  color: #1a1a1a;
}
.langSong {
  margin-right: 50px;
}
