:root {
  --color: #b6b6b6;
}

.container-playlistdetail {
  // min-height: 100vh;
  height: 650px;
  background-color: #1a1a1a;
  padding-top: 20px;
}
p {
  font-size: 1rem;
  margin-left: -7rem;
}

.playlistaction {
  display: flex;
  flex-direction: row;
  color: var(--color);
  justify-content: center;
  font-size: 35px;
  div {
    margin-left: 50px;
    align-self: flex-end;
  }
  img {
    width: 150px;
    height: 150px;
    margin-left: -19rem;
  }
  .playall {
    display: inline-block;
    margin-left: 0px;
    p {
      color: var(--color);
    }
  }
  button {
    background-color: transparent;
    border: none;
    color: #e2cfcd;
    font-size: 1rem;
  }
  .link {
    color: var(--color);
  }
  .play {
    margin-left: 0px;
    text-align: left;
  }
  p {
    margin-top: 15%;
    margin-bottom: 0px;
  }
}

.hr {
  // color: var(--color);
  background-color: white;
}

.list-songs {
  ul {
    display: flex;
    justify-content: center;
    background-color: transparent;
    li.list-group-item {
      background-color: var(--color);
      width: 200px;
    }
  }
}
