@import '../../assets/mixins';

.sidebar {
  color: rgb(255, 255, 255);
  background-color: #0e0d0c;
  height: 100vh;
  font-size: 1.3rem;
  padding: 2rem 3rem;
  position: fixed;
  left: 0;
  top: 0;
  width: 16rem;
  padding-top: 5rem;
  z-index: 1;

  @include respond(tab-port){
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    transform: translateX(-100%);
    transition: all 0.3s ease;
  }
  

  ul {
    padding: unset;
    list-style: none;
    margin: 0;
  }
  a {
    text-decoration: unset;
    font-weight: 500;
  }

  @include respond(tab-port){
    font-size: 1rem;
  }
 
  .text-item {
    color: white;
    margin-left: 1rem;
    line-height: 2.5rem;
  }
  .active {
    color: #c22703;
  }
}


.sidebarOpen {
  @include respond(tab-port){
    transform: translateX(0);
  }
}