@import '../../assets/mixins';

.musicItem{
    span{
        width: 14rem;
        background-color: #D9D9D9;
    }

    .hiddenOnPhone {
        @include respond(phone){
            display: none;
        }
    }
    
    .smallOnPhone {
        @include respond(phone){
            width: 4rem;
        }
    }
   
}