.SignUp-container{
     display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;

    img{
        margin-bottom: 1.6rem;
    }


   .SignUp{
    display: flex;
    background-color:#1a1a1a ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid; 
    border-radius: 10px;
    padding-left: 6rem; 
    width: 28rem;
    height: 30rem;
   }

    form, input{
        margin: 10px;
        padding: 12px ;
        padding-right: 4rem;
        border-radius: 10px;
        border: none;

        input:hover{
            background-color: #c3bcbc;
        }
        
    }
    button{
        margin-left: 7rem;
        margin-top: 1rem;
        padding: 10px 25px;
        background-color: #000000;
        color:#F14F23 ;
        border: 1px solid #000000;
        border-radius: 10px;
    }

      button:hover{
            background-color: #1c1111 ;
        }
    form,a{
        color: #a5a0a0;
        text-decoration: unset;
        padding-right: 5rem;
        font-size: small;
    }
    a:hover{
        color: #F14F23;
    }
}


-container{
     display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;

    img{
        margin-bottom: 1.6rem;
    }


   .register{
    display: flex;
    background-color:#1a1a1a ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid; 
    border-radius: 10px;
    padding-left: 6rem; 
    width: 28rem;
    height: 30rem;
   }

    form, input{
        margin: 10px;
        padding: 12px ;
        padding-right: 4rem;
        border-radius: 10px;
        border: none;

        input:hover{
            background-color: #c3bcbc;
        }
        
    }
    button{
        margin-left: 7rem;
        margin-top: 1rem;
        padding: 10px 25px;
        background-color: #000000;
        color:#F14F23 ;
        border: 1px solid #000000;
        border-radius: 10px;
    }

      button:hover{
            background-color: #1c1111 ;
        }
    form,a{
        color: #a5a0a0;
        text-decoration: unset;
        padding-right: 5rem;
        font-size: small;
    }
    a:hover{
        color: #F14F23;
    }
}


-container{
     display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;

    img{
        margin-bottom: 1.6rem;
    }


   .register{
    display: flex;
    background-color:#1a1a1a ;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid; 
    border-radius: 10px;
    padding-left: 6rem; 
    width: 28rem;
    height: 30rem;
   }

    form, input{
        margin: 10px;
        padding: 12px ;
        padding-right: 4rem;
        border-radius: 10px;
        border: none;

        input:hover{
            background-color: #c3bcbc;
        }
        
    }
    button{
        margin-left: 7rem;
        margin-top: 1rem;
        padding: 10px 25px;
        background-color: #000000;
        color:#F14F23 ;
        border: 1px solid #000000;
        border-radius: 10px;
    }

      button:hover{
            background-color: #1c1111 ;
        }
    form,a{
        color: #a5a0a0;
        text-decoration: unset;
        padding-right: 5rem;
        font-size: small;
    }
    a:hover{
        color: #F14F23;
    }
}


